/*doc
---
title: Alert
name: alert
category: basics
---
```html_example
    <div class='c-alert'>Alert</div>
```
*/
.c-alert {
	// Component details
	background: $alert-default-colour;
	color: white;
}